.container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.gamesHostedHeader {
  margin-bottom: 40px;
}

.header {
  display: flex;
  justify-content: center;
}

.sub-header {
  display: flex;
  justify-content: space-around;
}

.card {
  display: flex;
  justify-content: space-around;
}

.game-card {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  flex-shrink: 3;
  /* width: 300px;
  height: 300px; */
}

.game-card-header {
  display: flex;
  justify-content: center;
}

.game-card-content {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.thumbnail {
  width: 100px;
  height: 100px;
}
.myprofile {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.profile-border {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  width: 300px;
  height: 250px;
}

nav {
  display: flex;
}
.nav > div {
  margin-left: 10%;
  margin-right: 10%;
}
nav a {
  padding: 0.5rem;
}

#user-form {
  padding-top: 15px;
}

/* nav a.selected {
  background-color: dodgerblue;
  color: cornsilk;
} */

h1 {
  text-align: center;
}

.courtFinder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.courtForm {
  display: flex;
  flex-direction: column;
}

.courtMap {
  width: 50%;
  margin-top: 20px;
}

.navbar {
  background-color: "bg-danger";
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2 rem;
  font-size: 2rem;
  background: none;
}
.nav-menu {
  background-color: black;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: 60px;
}
.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #d9534f;
}

.home-hover a:hover {
  background-color: #d9534f;
}
.nav-menu-items {
  width: 100%;
}
.navbar-toggle {
  background-color: black;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

@import url("https;//fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.home,
.mystats,
.account {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
#nav-link {
  color: #292b2c;
}

.findGame {
  display: flex;
  flex-direction: column;
}

.filterZip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myGamesHeader {
  padding: 10px;
}

.myGamesList {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
}

.cardAndButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.listOfGames {
  width: 100%;
}
.home {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: start;
  align-items: center;
  font-size: 3rem;
}
.gor {
  background-color: red;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: start;
  align-items: center;
  font-size: 3rem;
}

/*  **********************  CHAT  *************************************/
.chat-container {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.chatmessages {
  height: 400px;
  width: 400px;
  overflow: scroll;
  background-color: rgba(255, 255, 255, 0.845);
  border-radius: 3px;
  padding: 1rem;
}

.chat-message-right {
  display: flex;
  justify-content: flex-end;
}

.chat-message-left {
  display: flex;
}

.chat-single-message-send {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  border-top: .5px solid black;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chat-single-message-receive {
  display: flex;
  margin-bottom: 0.5rem;
  border-top: .5px solid black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.chat-message-send {
  width: 75%;
  background-color: #dc3545;
  color: white;
  border-radius: 5px;
  padding: 5px;
  text-align: right;
}

.chat-message-receive {
  display: flex;
  width: 75%;
  background-color:rgb(125, 125, 125);
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.chatmessages ul > li {
  list-style-type: none;
}

#chat-input {
  display: flex;
  justify-content: flex-end;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 5px;
  margin: 10px;
}

#chat-input > button {
  border: none;
  background-color: dodgerblue;
  padding: 2px 3px 2px 2px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: cornsilk;
}

#chat-input > input {
  border: none;
  background-color: transparent;
  width: 100%;
}

.chat-date-send {
  text-align: right;
  font-size: 8px;
}

.chat-date-receive {
  font-size: 8px;
}

.chat-name-send {
  text-align: right;
  font-size: 12px
}

.chat-name-receive {
  font-size: 12px
}

.chat-name-date-send {
  width: 100px;
  padding-right: 5px;
}

.chat-name-date-receive {
  width: 100px;
  padding-left: 5px;
}