.container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.header {
  display: flex;
  justify-content: center;
}

.sub-header {
  display: flex;
  justify-content: space-around;
}

.card {
  display: flex;
  justify-content: space-around;
}

.game-card {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  width: 300px;
  height: 300px;
}

.game-card-header {
  display: flex;
  justify-content: center;
}

.game-card-content {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.thumbnail {
  width: 100px;
  height: 100px;
}
.myprofile {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.profile-border {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  width: 300px;
  height: 250px;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  padding: 0.5rem;
}

nav a.selected {
  background-color: dodgerblue;
  color: cornsilk;
}

h1 {
  text-align: center;
}
